@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PetDiscovery</h1>
    <p class="lead">Blalalalala</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Perdeu seu Pet?</h2>
        <p>
            Caso você tenha perdido seu Pet, não entre em desespero, cadastre aqui as informações dele e deixe que nosso sistema cuide do resto!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Cadastro de Pet´s perdidos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Encontrou um Pet?</h2>
        <p>Caso você tenha encontrado algum Pet, cadastre aqui as informações dele e deixe nosso sistema encontrar seu dono!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Cadastro de Pet´s achados &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consultar Seus Pets cadastrados</h2>
        <p>Para saber quais pets você tem cadastrado acesse aqui!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Consultar &raquo;</a></p>
    </div>
</div>